IMDB_USER_ID=ur36501984
SONARR_URL=http://sonarr:8989
SONARR_API_KEY=your_sonarr_api_key
SONARR_ROOT_FOLDER=/tv
SONARR_QUALITY_PROFILE_ID=1
RADARR_URL=http://radarr:7878
RADARR_API_KEY=your_radarr_api_key
RADARR_ROOT_FOLDER=/movies
RADARR_QUALITY_PROFILE_ID=1
SYNC_INTERVAL_MINUTES=30
